* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {

    background-image: linear-gradient(319deg, #bbff99 0%, #ffec99 37%, #ff9999 100%);


}

/*
::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
    height: 0px;
}

*/

.barra {
    grid-area: barra;
    text-align: center;
    font-family: 'Merienda', cursive;
    width: 40%;
    padding: 25px;
    margin-top: 15px;
    margin-left: 30%;


}

.barra div {
    display: inline-block;
    justify-content: space-between;

}

ul {
    list-style: none;
}

.barra div a {
    overflow: hidden;
    font-weight: bold;
    color: #9932CC;
    white-space: nowrap;
    text-decoration: none;
    font-size: 0.9rem;
}



.sucursales {

    margin-left: 40px;

}

.quienes {

    margin-left: 40px;

}


.pedidos {

    margin-left: 50px;

}

.barra div a:hover {
    background-color: #ffd0008f;
    text-decoration: none;

}





.icono-footer {
    display: flex;
    gap: 20px;
    margin-left: 100px;
}


.nav2 a:hover {
    background-color: #ffd0008f;
    text-decoration: none;
}

.nav2 a {
    text-decoration: none;
}

.nav2 {
    margin-left: 600px;
    display: flex;
    gap: 50px;
    font-weight: bold;
    color: #9932CC;
  font-size: 0.9rem;

}






.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    padding: 90px 200px;
    grid-area: footer;
    font-family: 'Merienda', cursive;


}


.titulo1 {
    grid-area: titulo1;
}

.encabezado {
    grid-area: encabezado;
}





.cremas li:hover {
    color: orange;


}

.agua li:hover {
    color: orange;


}

.ddl li:hover {
    color: orange;


}

.choco li:hover {
    color: orange;


}



.historia h3 {

    margin-left: 230px;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Merienda', cursive;
    font-family: 'Trochut', cursive;
    font-size: calc(1.5em + 1.5vw);
    margin-top: 50px;
}

.historia p {

    margin: 25px;
    text-align: justify;
    font-family: 'Merienda', cursive;
    font-size: 1.15rem;
    margin-top: -30px;
    height: 26vmax;
    width: 50vmax;

}


.historia {
    grid-area: historia;    
    background-color: #bbff99;
    height: 30vmax;
    width: 55vmax;
    margin-left: 2px;
    box-sizing: border-box;
    margin-right:120px;
    margin-top: -70px;

}

/*contenedor padre de lista de sabores*/
.titulosabores {
    height: auto;
    /*para que se ajuste el alto de todo*/
    position: relative;
    width: 100%;
    padding: 5px 0px;
    /*para tapar el aujero que deja para arriba y para abajo el height auto*/
    grid-area: titulosabores;
}

/*contenedor de columnas y cuadros*/
.lista-sabores {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    grid-area: lista-sabores;
    width: 90%;
    height: auto;
    box-sizing: border-box;
}

/*contenedor de columnas*/
.col-sabores {
    width: 15%;
    /*ancho de cada columna*/
    margin: 0 10px;
    /*distancia entre colemna y columna*/
    grid-area: col-sabores;
}

/*cuadro de sabores*/
.cuadro-sabores {
    width: 90%;
    height: auto;
    border-radius: 6px;
    margin-top: -700px;    

}

div.cuadro-sabores{
    width: 50vh;
    height: auto;
    
}

/*estilo de lista*/
.cuadro-sabores ul {
    margin-top: 30px;
    
    list-style: none;
}

/*cuadro de texto de lista*/
.cuadro-sabores ul li {
    position: relative;
    cursor: pointer;
    padding: 5px;
    margin-left: 200px;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 2px;
    font-family: Merienda, cursive;
    color: #9932CC;
    font-weight: bold;

}

/*texto sabores*/
.cuadro-sabores li a {
    text-decoration: none;
}

.cuadro-sabores li:hover {
    color: orangered;
}

/*tooltip cuadrado*/
.cuadro-sabores li span {
    width: 100%;
    display: inline-block;
    font-size: 0.5rem;
    line-height: 15px;

}

.sabores h4 {
    text-align: center;
    width: 100%;
    margin-top: 35px;
    font-size: 3rem;
    text-align: center;

}

.cuadro-sabores h3 {
    font-weight: bold;
    font-size: calc(1.2em + 1vw);
    text-align: center;
    color: #9932CC;
    margin-top: -100px;
    margin-left: 200px;

}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    display: none;
    width: 240px;
    /*ajusta el ancho del toltip al 100% del texto*/
    text-align: center;
    padding: 5px 0px;
    border-radius: 6px;
    position: abslute;
    z-index: 1;
    top: 100%;
}

.tooltip:hover .tooltip-text {
    display: block;
}


.titulosabores {
    grid-area: titulosabores;
margin-top: -60px;

}


.titulosabores h2 {
    text-align: center;   
    margin-left: 100px;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Merienda', cursive;
    font-family: 'Trochut', cursive;
    font-size: 3.5rem;
    color: orange;
}


.iconotacc {
    position: absolute;
    left: -28px;
    height: 14px;
    top: 5px;
    overflow: clip;
}




.index {

    padding-top: 30px;
    width: 15%;
    height: 5%;
    padding-block-end: 50px;
}


.imgsabor2 {
    grid-area: imgsabor2;
    margin-top: -10%;
    margin-left: 60%;

}

.imgsabor2 img {
   
    transform: rotate(-30deg);
    opacity: .5;
    width: 40vw;
    height: 35vw;
}

.imgsabor1 {
    grid-area: imgsabor1;
    margin-right: 2%;
    margin-top: 1%;


}

.imgsabor1 img {
    width: 30vw;
    height: 30vw;
    transform: rotate(30deg);
    opacity: .5;
}



.contenedor-sabores {
    grid-area: contenedor-sabores;
}



.carousel1 {
    width: 100vw;
    height: auto;

}

.carousel1 ul {
    display: flex;
    padding: 0;
    width: 400%;
    margin-top: 30px;
    animation: slide 30s infinite alternate ease-in-out;
}

.carousel1 li {
    width: 100%;
    list-style: none;
    position: relative;
}

.carousel1 img {
    width: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.carousel2 {
    width: 35vw;
    padding: 20px;
    overflow: hidden;
    margin-top: -30px;
}


.carousel2 ul {
    display: flex;
    gap: 100px;

    width: 400%;
    animation: slide 12s infinite alternate;
}

.carousel2 li {
    width: 100%;
    list-style: none;

}

.carousel2 img {
    width: 100%;

}


@keyframes slide {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}


.contenedor-grid {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: grid;
    grid-template-areas:
        "encabezado encabezado encabezado encabezado"
        "contenedor-sabores contenedor-sabores contenedor-sabores contenedor-sabores"
        "contenedor-sabores contenedor-sabores contenedor-sabores contenedor-sabores"
        "carousel2 carousel2 historia historia"
        "footer footer footer footer"
    ;
}

<<<<<<< HEAD
=======
}
/* DESDE ACA COMIENZA QUIENES SOMOS DE BURON*/
/*Estilos de Pedidos On-line*/

.quienes-somos-completo{
    font-family: 'Times New Roman', Times, serif;
}
.quienes_somos_titulo{
    font-weight: bold;
    font-size: calc(1.5em + 1.5vw);
    text-align:center;
    text-decoration: underline;
    text-shadow: 2px 2px 5px rgb(70, 71, 70);
}
.quienes-somos-oracion{
    font-size: calc(1.2em + 1.2vw);
    text-align:center;
    text-shadow: 1px 1px 15px rgb(247, 247, 244);
}

.quienes-somos-parrafo {
    display: flex;
    margin:0 auto;
    text-align: center;
    font-size: calc(1.1em + 1.1vw);
    max-width: 1000px;
    }

#img_quienes_somos{
    width: 90vw;
    min-width: 200px;
    max-width: 1100px;
    margin-bottom: -4PX;
    }

.contenedor-quienes-somos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-quienes-somos figure{
    position:relative;
    box-shadow: 0px 3px 30px rgb(26, 0, 119);
    overflow: hidden;
    border-radius: 6px;
    cursor:auto
}
.contenedor-quienes-somos figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.contenedor-quienes-somos figure .quienes_somos_img_capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,103,123,0.7);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor-quienes-somos figure:hover > .quienes_somos_img_capa{
    opacity: 1;
    visibility: visible;
}

.contenedor-quienes-somos figure:hover > .quienes_somos_img_capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor-quienes-somos figure .quienes_somos_img_capa h3{
    color: #f3f70b;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 700ms ease-out;
    margin-top: 20px;
    font-size: calc(1.1em + 1vw);
}
.contenedor-quienes-somos figure .quienes_somos_img_capa p{
    color: #f0f0ca;
    font-size: calc(1.1em + 1vw);
    line-height: 1.5;
    width: 100%;
    max-width: 1200px;
    margin: auto; 
}

.contenedor-quienes-somos figure:hover > img{
    transform: scale(1.1);
}

/* HASTA ACA TERMINA QUIENES SOMOS DE BURON*/

nav {
    display: flex;
    justify-content: space-between ;
    border-radius: 0px 0px 20px 20px;
}
.lista {
    display: flex;
    margin-right: 25px;
    margin-top: 90px;
}
.lista li{
    margin-right: 20px;
    list-style: none;
}
.lista li a{
    text-decoration: none;
    cursor: pointer;
    color:blueviolet;
    font-size: 30px;
}
.lista li a:hover{
    color: burlywood;
}
h2 {
    text-align: center;
}
label {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#realizarPedidoBtn {
    font-size: 20px;
    padding: 10px 20px;
}
#realizarPedidoBtn :hover{
    color: burlywood;
}
.pie li a{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color:blueviolet;
}
.pie li a:hover{
    color: burlywood;
}
/* footer h4{
    margin: 10px 0px 12px 10px;
    text-align: center;
    font-weight: 80;
} */
.notificacion {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/*Estilos de consultas*/

@keyframes slide-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100px);
    }
  }

@keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  .contenedor-contacto,{ 
	  margin-top: 20px;
	  margin-right: 40px;
	  display: flexbox;
	  font-family: 'Franklin Gothic Medium',  Arial, sans-serif;
	  color: #8333FF;
	  border-radius: 10px;
	  padding: 10px;
	  animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
	  }

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}


.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input-com {
	margin: 0%;
	height: 450px;
	width: 720px;
}

.formulario__input-com:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}



.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje, {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
	transition: .1s ease all;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

//*.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}*//


.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 40px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

.formulario__boton {
    min-width: 100px; /* Ancho mínimo para el botón */
    padding: 10px 20px; /* Espaciado interno para el texto */
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label  {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado  {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input  {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	
	
}

/*----HASTA ACA, LOS ESTILOS DE CONSULTAS---/*
>>>>>>> add082fba834a7a92a2bd26c4f697ea1eeb4eac7
